.ThemeBar {
  position: relative;
  width: 28px;
  height: 20px;
}

/* Position and sizing of burger button */

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Individual item */
.bm-item {
  display: inline-block;

  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}

.switch {
  width: 100vw;
  height: 100px;
}
